<!DOCTYPE html>
<html>
<head>
    <title></title>
    {# 加载相关的css #}
    {% include "www/commoncss.html" %}
</head>
<body>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading" align="center">
            <h4>{{ paper.title }}</h4>
        </div>
        <div class="panel-body">
            {{ paper.description }}
        </div>
    </div>
    <br>
    {% for question in paper.question_set.all|dictsort:"ord" %}
        <div class="panel panel-info">
            <div class="panel-heading">
                {{ question.ord }} {{ question.text }} <br>
            </div>
            <div class="panel-body">
                {% for branch in question.branch_set.all|dictsort:'ord' %}
                    <div class="radio">
                        <input type="radio" name="option{{ question.id }}" id="optionsRadios1" value="option1">
                        {{ branch.ord }} {{ branch.text }}
                    </div>
                {% endfor %}
                <br>
            </div>
        </div>
    {% endfor %}

    {#  底部按钮 #}
    <div class="row">
        <div class="col-md-2" align="center"></div>
        <div class="col-md-2" align="center"></div>
        {# 发布按钮 #}
        <div class="col-md-2" align="center">
            <div class="btn btn-primary ">
                <span class="glyphicon glyphicon-ok"></span>
                完成
            </div>
        </div>
        {# 取消按钮 #}
        <div class="col-md-2" align="center">
            <div class="btn btn-default ">
                <span class="glyphicon glyphicon-remove"></span>
                重填
            </div>
        </div>
        <div class="col-md-2" align="center"></div>
        <div class="col-md-2" align="center"></div>
    </div>

</div>
{% include "www/commonjs.html" %}
</body>
</html>