<!DOCTYPE html>
<html>
<head>
    <title></title>
    {# 加载相关的css #}
    {% include "www/commoncss.html" %}
    <link rel="stylesheet" href="/static/survey/css/paperEdit.css">
</head>
<body>

{# 顶部的导航栏 #}
{% include "www/navbar.html" with position='paper' %}

{# 页面主体 #}
<div class="container" style="padding-top: 30px;">

    {# 完成按钮 #}
    <a href="{% url 'survey:view.paper.list' %}"
       type="button" class="btn btn-success ">
        <span class="glyphicon glyphicon-ok"></span>
        完成
    </a>
    {# 新增问题按钮 #}
    <button class="btn btn-primary ">
        <span class="glyphicon glyphicon-plus"></span>
        新增问题
    </button>

    {# 右侧按钮组 #}
    <div class="btn-group pull-right">
        {# 预览按钮 #}
        <button class="btn btn-default ">
            <span class="glyphicon glyphicon-eye-open"></span>
            预览
        </button>
        {# 折叠按钮 #}
        <button class="btn btn-default ">
            <span class="glyphicon glyphicon-collapse-up"></span>
            折叠
        </button>
        {# 展开按钮 #}
        <button class="btn btn-default ">
            <span class="glyphicon glyphicon-collapse-down"></span>
            展开
        </button>
    </div>
    <p></p>

    {# 问卷信息 #}
    <div class="panel panel-default">
        {# panel标题 #}
        <div class="panel-heading">
            <span class="glyphicon glyphicon-list-alt"></span>
            问卷
        </div>
        {# panel内容 #}
        <div class="panel-body">
            <div class="well well-lg">
                {# 问卷的标题 #}
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">问卷名称</span>
                            <input type="text" class="form-control paper-attr-text" placeholder="请填写问卷名称"
                                   value="{{ paper.title }}"
                                   data-action="{% url 'survey:service.paper.modify' %}"
                                   data-id="{{ paper.getIdSigned }}"
                                   data-field-name="title">
                        </div>
                    </div>
                </div>
                <p></p>

                {# 问卷的描述 #}
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">问卷描述</span>
                            <input type="text" class="form-control paper-attr-text" placeholder="请填写问卷描述"
                                   value="{{ paper.description }}"
                                   data-action="{% url 'survey:service.paper.modify' %}"
                                   data-id="{{ paper.getIdSigned }}"
                                   data-field-name="description">
                        </div>
                    </div>
                </div>
                <p></p>

                <div class="row">
                    {# 标号样式选择 #}
                    <div class="col-md-3">
                        <div class="btn-group btn-block">
                            <button type="button" class="btn btn-default">标号样式</button>
                            <select class="selectpicker paper-attr-select" data-width='auto'
                                    value='{{ paper.questionNumStyle }}'
                                    data-action="{% url 'survey:service.paper.modify' %}"
                                    data-id="{{ paper.getIdSigned }}"
                                    data-field-name="questionNumStyle">
                                {# 列出可选标号样式数据 #}
                                {% for code,display in  paper.getNumStyleAvailable %}
                                    <option
                                            {% if code == paper.questionNumStyle %}
                                                selected='selected'
                                            {% endif %}
                                                value='{{ code }}'>{{ display }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    {# 分页显示(switch控件) #}
                    <div class="col-md-3">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">分页显示</span>
                            <input name='test01' class="bootstrap-switch-input paper-attr-switch" type="checkbox"
                                   {% if paper.paging %}checked{% endif %}
                                   data-action="{% url 'survey:service.paper.modify' %}"
                                   data-id="{{ paper.getIdSigned }}"
                                   data-field-name="paging"/>
                        </div>
                    </div>

                    {# 顺序答题(switch控件) #}
                    <div class="col-md-3">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">顺序答题</span>
                            <input class="bootstrap-switch-input paper-attr-switch" type="checkbox"
                                   {% if paper.inOrder %}checked{% endif %}
                                   data-action="{% url 'survey:service.paper.modify' %}"
                                   data-id="{{ paper.getIdSigned }}"
                                   data-field-name="inOrder"/>
                        </div>
                    </div>

                    {# 返回修改(switch控件) #}
                    <div class="col-md-3 ">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">返回修改</span>
                            <input class="bootstrap-switch-input paper-attr-switch" type="checkbox"
                                   {% if paper.lookBack %}checked{% endif %}
                                   data-action="{% url 'survey:service.paper.modify' %}"
                                   data-id="{{ paper.getIdSigned }}"
                                   data-field-name="lookBack"/>
                        </div>
                    </div>
                </div>
                {# <div class="row"> #}
                <p></p>
            </div>
            {# end <div class="well well-lg"> #}
        </div>
        {# end <div class="panel-body"> #}
    </div>
    {# end panel #}

    {# 问题内容框 #}
    <div class="well">
        {% for question in paper.getQuestionSetInOrder %}
            {% include "survey/question/question.html" %}
        {% endfor %}
    </div>
    <p></p>

    {# 新增问题的按钮 #}
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <button class="btn btn-primary btn-block ">
                <span class="glyphicon glyphicon-plus"></span>
                新增问题
            </button>
        </div>
    </div>

</div>
{# end <div class="container"> #}

{# 加载Javascript程序 #}
{% include "www/commonjs.html" %}
<script src="/static/survey/js/paperEdit.js"></script>

</body>
</html>