<!DOCTYPE html>
<html>
<head>
    <title></title>
    {# 加载相关的css #}
    {% include "www/commoncss.html" %}
</head>
<body>
{# 顶部的导航栏 #}
{% include "www/navbar.html"  with position='paper' %}

{# 页面主体 #}
<div class="container" style="padding-top: 30px;">
    {# 新增按钮 #}
    <div class="row">
        <p>
            <button type="button" class="btn btn-primary btn-paper-add">
                <span class="glyphicon glyphicon-plus"></span>
                新 增
            </button>
        </p>
    </div>

    <div class="row">
        <div class="panel panel-default">
            {# panel标题 #}
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list-alt"></span>
                问卷
            </div>

            {# 数据表格 #}
            <table class="table table-striped table table-hover ">
                {# 表头 #}
                <thead class="thead">
                <tr>
                    <th>#</th>
                    <th>名称</th>
                    <th>描述</th>
                    <th>题目数量</th>
                    <th>修改时间</th>
                    <th colspan="3"></th>
                </tr>
                </thead>

                {# 表格内容 #}
                {% for paper in paperList %}
                    <tr id='paper-{{ paper.getIdSigned | cut:':' }}'>
                        {# 标号 #}
                        <td>{{ forloop.counter }}</td>
                        {# 问卷标题 #}
                        <td>{{ paper.title | truncatechars:20 }}</td>
                        {# 问卷说明 #}
                        <td>{{ paper.description | truncatechars:30 }}</td>
                        {# 问题数量 #}
                        <td>{{ paper.question_set.count }}</td>
                        {# 修改时间 #}
                        <td>{{ paper.modifyTime | date:"Y-m-d H:i" }}</td>
                        {# 编辑按钮 #}
                        <td>
                            <a href="{% url 'survey:view.paper.edit' paper.id %}">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </td>
                        {# 发起调查 #}
                        <td>
                            <a href="{% url 'survey:view.survey.add' paper.id %}">
                                <span class="glyphicon glyphicon glyphicon-new-window"></span>
                            </a>
                        </td>
                        {# 删除 #}
                        <td>
                            <span class="glyphicon glyphicon-remove-circle btn-paper-delete"
                                    {# 数据绑定信息 #}
                                  data-binding-action="{% url 'survey:service.paper.delete' %}"
                                  data-binding-id="{{ paper.getIdSigned }}">
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    {# 分页控件 #}
    {% include "www/pager.html" with pageData=paperList baseUrl=baseUrl only %}
</div>


{# 选项删除对话框 #}
<div class="modal fade" id="paperDeleteConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {# 对话框标题栏 #}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    <span class="glyphicon glyphicon-exclamation-sign"></span> 请确认
                </h4>
            </div>
            {# 对话框内容 #}
            <div class="modal-body" align="center">
                <h4>
                    <span class="glyphicon glyphicon-remove-circle"></span>
                    您确定要删除这个问卷吗?
                </h4>
            </div>
            {# 对话框底部 #}
            <div class="modal-footer">
                <div class='row' align="center">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <button id='paperDeleteConfirmButton' type="button" class="btn btn-danger btn-block">确定
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">取消</button>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>


{# 加载Javascript程序 #}
{% include "www/commonjs.html" %}
<script src="/static/survey/js/paperList.js"></script>

</body>
</html>