<!DOCTYPE html>
<html>
<head>
    <title></title>
    {# 加载相关的css #}
    {% include "www/commoncss.html" %}
    <link rel="stylesheet" href="/static/survey/css/paperEdit.css">
</head>
<body>

{# 顶部的导航栏 #}
{% include "www/navbar.html" with position='paper' %}

{# 页面主体 #}
<div class="container" style="padding-top: 30px;">
    {# 完成按钮 #}
    <div class="row">
        <div class="col-md-6">
            <a id="finishButton" href="{% url 'survey:view.paper.list' %}"
               type="button" class="btn btn-success ">
                <span class="glyphicon glyphicon-ok"></span>
                完成
            </a>
            {# 新增问题按钮 #}
            <button class="btn btn-primary " data-toggle="modal" data-target="#addQuestionDialog">
                <span class="glyphicon glyphicon-plus"></span>
                新增问题
            </button>
        </div>

        {# 右侧按钮组 #}
        <div class="col-md-6">
            <div class="btn-group pull-right">
                {# 帮助按钮 #}
                <button class="btn btn-default ">
                    <span class="glyphicon glyphicon-question-sign"></span>
                    帮助
                </button>
                {# 预览按钮 #}
                <a class="btn btn-default " href="{% url 'survey:view.paper.list' %}" target="_blank">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    预览
                </a>
                {# 折叠按钮 #}
                <button id='collapse-all-question-hide' class="btn btn-default">
                    <span class="glyphicon glyphicon-collapse-up"></span>
                    折叠
                </button>
                {# 展开按钮 #}
                <button id='collapse-all-question-show' class="btn btn-default ">
                    <span class="glyphicon glyphicon-collapse-down"></span>
                    展开
                </button>
            </div>
        </div>
    </div>
    <p></p>

    {% include "survey/paperEditDom.html" with paper=paper only %}

    {# 新增问题的按钮 #}
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <button id="addQuestionButton" class="btn btn-primary btn-block " data-toggle="modal"
                    data-target="#addQuestionDialog">
                <span class="glyphicon glyphicon-plus"></span>
                新增问题
            </button>
        </div>
    </div>

</div>
{# end <div class="container"> #}


{% comment %}
<div id="qunit"></div>
<div id="qunit-fixture"></div>
{% endcomment %}

{# 加载Javascript程序 #}
{% include "www/commonjs.html" %}
<script src="/static/survey/js/paperEdit.js"></script>
{# <script src="/static/survey/js/paperEditTest.js"></script> #}

</body>
</html>
