<!DOCTYPE html>
<html>
<head>
    <title></title>
    {# 加载相关的css #}
    {% include "www/commoncss.html" %}
    <link rel="stylesheet" href="/static/survey/css/surveyAdd.css">

</head>
<body>

{# 顶部的导航栏 #}
{% include "www/navbar.html" with position='survey' %}
<div class="container" style="padding-top: 30px;">

    <div class="panel panel-default">

        {# 调查标题栏 #}
        <div class="panel-heading panel-collapsible">
            <span class="glyphicon glyphicon-globe"></span>
            <span class="glyphicon glyphicon-save data-binding-refresh-icon" style="opacity:0"></span>
            调查(新增)
        </div>

        {# 调查pannel body #}
        <div class="panel-body in">
            {# 表单框 #}
            <form id="surveyAdd" class="form-horizontal" role="form"
                  action="{% url 'survey:view.survey.add.action' %}">
                <input name='paperId' type="hidden" value='{{ paper.getIdSigned }}'>

                {#  第1行 #}
                <div class="row">
                    {# 定向调查 #}
                    <div class="col-md-3">
                        <div class="input-group input-group-sm ">
                            <span class="input-group-addon">清单</span>
                            <select name="custList" class="bootstrap-select">
                                <option value=''>无</option>
                                {% for custList in  custListList %}
                                    <option value='{{ custList.getIdSigned }}'>{{ custList.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <p></p>

                {#  第1行 #}
                <div class="row">

                    {# 允许重填 #}
                    <div class="col-md-3">
                        <div class="input-group input-group-sm ">
                            <span class="input-group-addon  width50">允许重填</span>
                            <input name='resubmit' type='hidden' value='off'>
                            <input name='resubmit' class="bootstrap-switch " type="checkbox" checked/>
                        </div>
                    </div>

                    {# 查看结果 #}
                    <div class="col-md-3">
                        <div class="input-group input-group-sm ">
                            <span class="input-group-addon  width50">查看结果</span>
                            <input name='viewResult' type='hidden' value='off'>
                            <input name='viewResult' class="bootstrap-switch " type="checkbox" checked/>
                        </div>
                    </div>

                    {# 匿名调查 #}
                    <div class="col-md-3">
                        <div class="input-group input-group-sm ">
                            <span class="input-group-addon  width50">匿名调查</span>
                            <input name='anonymous' type='hidden' value='off'>
                            <input name='anonymous' class="bootstrap-switch " type="checkbox"/>
                        </div>
                    </div>
                    {# 是否分享 #}
                    <div class="col-md-3">
                        <div class="input-group input-group-sm ">
                            <span class="input-group-addon  width50">是否分享</span>
                            <input name='shared' type='hidden' value='off'>
                            <input name='shared' class="bootstrap-switch " type="checkbox" checked/>
                        </div>
                    </div>


                </div>
                <p></p>
                {# 第2行 #}
                <div class="row">


                    {# 参与密码 #}
                    <div class="col-md-3">
                        <div class="input-group input-group-sm ">
                            <span class="input-group-addon width50">参与密码</span>
                            <input name='password' type="text" class="form-control " size="10"/>
                        </div>
                    </div>

                    {# 结束时间 #}
                    <div class="col-md-3">
                        <div class="input-group input-group-sm ">
                            <span class="input-group-addon width40">结束时间</span>
                            <input name='endTime' type="text" class="form-control datetimepicker"/>
                                     <span class="input-group-addon  width20">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                     </span>
                        </div>
                    </div>


                </div>
                <p></p>
            </form>
        </div>
    </div>

    {#  底部按钮 #}
    <div class="row">
        <div class="col-md-2" align="center"></div>
        <div class="col-md-2" align="center"></div>
        {# 发布按钮 #}
        <div class="col-md-2" align="center">
            <div class="btn btn-primary form-submit-button"
                 data-form-id="surveyAdd">
                <span class="glyphicon glyphicon-ok"></span>
                发布
            </div>
        </div>
        {# 取消按钮 #}
        <div class="col-md-2" align="center">
            <a id="finishButton" href="{% url 'survey:view.paper.list' %}"
               type="button" class="btn btn-default ">
                <span class="glyphicon glyphicon-remove"></span>
                取消
            </a>
        </div>
        <div class="col-md-2" align="center"></div>
        <div class="col-md-2" align="center"></div>
    </div>

</div>

{# 加载Javascript程序 #}
{% include "www/commonjs.html" %}
<script src="/static/survey/js/paperEdit.js"></script>
{# <script src="/static/survey/js/paperEditTest.js"></script> #}

</body>
</html>