<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# 加载相关的css #}
    {% include "www/commoncss.html" %}
</head>

<body style="background-color: #e9e7ef">

<div class="container" style="padding-top: 80px;">

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-exclamation-sign"/>
                    {% if title %}
                        {{ title }}
                    {% else %}
                        注意
                    {% endif %}
                </div>
                <div class="panel-body " align="center" style="height: 180px;">
                    <br><br>

                    <div>
                        {{ message }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            {# 查看数据表单 #}
            <form id='viewResult' method="post" action="{% url 'survey:view.survey.viewResult' survey.id %}">
                {% csrf_token %}
            </form>

            {# 重填数据表单 #}
            {% if survey.resubmit %}
                <form id='resubmit' method="post" action="{{ returnUrl }}">
                    {% csrf_token %}
                    {# 重填标志 #}
                    <input name="resubmit" type="hidden" value="True"/>
                    {# 号码信息 #}
                    {% if survey.custList %}
                        <input name="phone" type="hidden" value="{{ phone }}"/>
                    {% endif %}
                    {# 密码信息 #}
                    {% if survey.password %}
                        <input name="passwordEncoded" type="hidden" value="{{ passwordEncoded }}"/>
                    {% endif %}
                </form>
            {% endif %}

            <div class="row" align="center">

                {# 返回 #}
                <a href="{% url 'survey:view.survey.answer' survey.id %}"
                   type="button" class="btn btn-warning ">
                    <span class="glyphicon glyphicon-repeat"></span>
                    返回
                </a>

                {# 查看 #}
                {% if survey.viewResult %}
                    <button id='viewResultButton' type="button" class="btn btn-success form-submit-button"
                            data-form-id="viewResult">
                        <span class="glyphicon glyphicon-ok"></span>
                        查看
                    </button>
                {% endif %}

                {# 重填 #}
                {% if survey.resubmit %}
                    <button id='resubmitButton' type='submit' class="btn btn-danger form-submit-button"
                            data-form-id="resubmit">
                        <span class="glyphicon glyphicon-ok"></span>
                        重填
                    </button>
                {% endif %}

            </div>
        </div>
    </div>

</div>


{% include "www/commonjs.html" %}
<script src="/static/survey/js/paperEdit.js"></script>

</body>
</html>