{% load survey %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# 加载相关的css #}
    {% include "www/commoncss.html" %}
    {# 加载相关的jqplot的css #}
    <link rel="stylesheet" href="/static/jqplot/jquery.jqplot.min.css">
</head>
<body>

<div class="container">
    <div class="row">

        {% csrf_token %}
        <div class="col-md-12">
            <div class="panel panel-primary ">
                <div class="panel-heading" align="center">
                    <h4>查看结果({{ paper.title }})</h4>
                </div>
            </div>
        </div>
        <br>

        {% for question in paper.getQuestionSetInOrder %}
            <div class="col-md-12">
                <div class="panel panel-info ">
                    <div class="panel-heading">
                        {{ question.getNum }} {{ question.text }} <br>
                    </div>
                    <div class="panel-body">
                        {# 打印出每个选项的选择数量和 #}
                        {% for branch in question.getBranchSetInOrder %}
                            <div>
                                {{ branch.getNum }} {{ branch.text }}-------
                                {{ branchSelCount|get_item:branch.id }}
                                ({{ branchSelPct|get_item:branch.id|floatformat:"-2" }}%)
                            </div>
                            <br>
                        {% endfor %}
                        {# 显示数据对应的图表 #}
                        <div id="chart{{ question.ord }}" style="height: 300px; width:100%;
                             position: relative;"
                             class="jqplot-target"
                             data-chart-data="[
                                {% for branch in question.getBranchSetInOrder %}
                                 ['{{ branch.getNum }}',{{ branchSelCount|get_item:branch.id }}],
                                {% endfor %}
                             ]">
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}


        {#  底部按钮 #}
        <div class="row">
            <div class="col-md-12" align="center">
                {# 发布按钮 #}
                <div class="btn btn-primary "
                     data-form-id="answerSubmit">
                    <span class="glyphicon glyphicon-ok"></span>
                    返回
                </div>
            </div>
        </div>
    </div>

    <p></p>

    <br><br><br><br><br><br><br><br><br><br>



</div>

{% include "www/commonjs.html" %}


{# jquery 的兼容包jqplot基于jquery1.6为与之兼容必须加上migrate #}
<script src="/static/jquery/jquery-migrate-1.2.1.min.js"></script>
{# 图表显示相关的js引用 #}
<script src="/static/jqplot/jquery.jqplot.min.js"></script>
<script src="/static/jqplot/plugins/jqplot.pieRenderer.min.js"></script>

<script src="/static/survey/js/surveyViewResult.js"></script>

</body>
</html>