<!DOCTYPE html>
<html>
<head>
    <title></title>
    {# 加载相关的css #}
    {% include "www/commoncss.html" %}
</head>
<body>
{# 顶部的导航栏 #}
{% include "www/navbar.html"  with position='survey' %}

{# 页面主体 #}
<div class="container" style="padding-top: 30px;">

    <div class="row">
        <div class="col-md-8">
            <div>
                <div class="row">
                    <div class="alert alert-info" role="alert">
                        恭喜您！您已经成功发布了一份问卷。你现在可以通过以下手段分享给您的朋友：<br>
                        <span class="glyphicon glyphicon-share"></span>
                        使用CTRL+C复制链接，然后可以通过QQ、微博、邮件等方式分享。<br>
                        <span class="glyphicon glyphicon-qrcode"></span>
                        通过微信的扫一扫功能扫描右侧的二维码，然后转发给微信好友。<br>
                        <span class="glyphicon glyphicon-phone"></span>
                        点击“发送到手机”按钮将连接通过短信方式发送到手机，然后通过短信转发给好友。
                    </div>
                </div>
                <div class="row">
                    <div>
                        <textarea id="txtArea" rows="9" style="resize: none;width: 100%;"
                                >手机号码{{ session.user.phone }}的用户为您准备一份问卷邀请您参加，调查的题目为"{{ survey.paper.title }}"，调查访问地址为:{{ domain }}{% url 'survey:view.answer' survey.id %}
                        </textarea>
                    </div>
                </div>
                <p></p>

                <div class="row" align="center">
                    {% comment %}
                    <div id="copyToClipboard" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-share"></span>复制到剪贴板
                    </div>
                    {% endcomment %}
                    <div type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-phone"></span>发送到手机
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail" style="background-color: #dcddde">
                <img src="{% url 'survey:view.survey.imageCode' survey.id %}">
            </div>
        </div>
    </div>
    {% comment %}
    <a id="finishButton" href="{% url 'survey:view.answer' survey.id %}"
       type="button" class="btn btn-success ">
        <span class="glyphicon glyphicon-ok"></span>
        go
    </a>
    {% endcomment %}
    {# 加载Javascript程序 #}

    {% include "www/commonjs.html" %}
    <script src="/static/survey/js/surveyPublish.js"></script>
</div>
</body>
</html>