{% load survey %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# 加载相关的css #}
    {% include "www/commoncss.html" %}
    {# 加载相关的jqplot的css #}
    <link rel="stylesheet" href="/static/jqplot/jquery.jqplot.min.css">
</head>
<body>

<div class="container">
    <div class="row">

        {% csrf_token %}
        <div class="col-md-12">
            <div class="panel panel-primary ">
                <div class="panel-heading" align="center">
                    <h4>查看结果({{ paper.title }})</h4>
                </div>
            </div>
        </div>
        <br>

        {% for question in paper.getQuestionSetInOrder %}
            {% include "survey/question/questionViewResult.html" with question=question branchSelCount=branchSelCount branchSelPct=branchSelPct only %}
        {% endfor %}

        {#  底部按钮 #}
        <div class="row">
            <div class="col-md-12" align="center">
                {# 发布按钮 #}
                <a href="{% url 'survey:view.survey.answer' survey.id %}"
                   class="btn btn-warning ">
                    <span class="glyphicon glyphicon-repeat"></span>
                    返回
                </a>
            </div>
        </div>
    </div>

    <p></p>

    <br><br><br><br><br><br><br><br><br><br>

</div>

{% include "www/commonjs.html" %}


{# jquery 的兼容包jqplot基于jquery1.6为与之兼容必须加上migrate #}
<script src="/static/jquery/jquery-migrate-1.2.1.min.js"></script>
{# 图表显示相关的js引用 #}
<script src="/static/jqplot/jquery.jqplot.min.js"></script>
<script src="/static/jqplot/plugins/jqplot.pieRenderer.min.js"></script>

<script src="/static/survey/js/surveyViewResult.js"></script>

</body>
</html>
