{# jQuery相关js引用 #}
<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/jquery/jquery.cookie.js"></script>
<script src="/static/jquery/jquery-ui.min.js"></script>
<script src="/static/jquery/qunit.js"></script>

{# Bootstrap相关js引用 #}
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/bootstrap/js/bootstrap-switch.min.js"></script>
<script src="/static/bootstrap/js/bootstrap-select.min.js"></script>
{# django设置csrf信息到jQuery的ajax请求的html head信息中 #}
<script src="/static/django/ajax-csrf.js"></script>
<script src="/static/django/django-js-utils.js"></script>
{# 自定义公用javascript脚本 #}
<script src="/static/www/js/sprintf.min.js"></script>
<script src="/static/www/js/common.js"></script>
