<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title> QI 微调查 </title>
    {% include "www/commoncss.html" %}
</head>

<body>

{% include "www/navbar.html" with position="help" only %}
<div class="container" style="padding-top: 30px;">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="300x200"
                     src="/static/www/pic/test.png"
                     style="width: 300px; height: 200px;">

                <div class="row">
                    <div class="col-md-4 col-md-offset-4" align="center">
                        <h5>帮助主题1</h5>
                    </div>
                    <div class="col-md-4 col-md-offset-4" align="center">
                        <a href="#" class="btn btn-default" role="button"> 查 看 &raquo;</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="300x200"
                     src="/static/www/pic/test.png"
                     style="width: 300px; height: 200px;">

                <div class="row">
                    <div class="col-md-4 col-md-offset-4" align="center">
                        <h5>帮助主题2</h5>
                    </div>
                    <div class="col-md-4 col-md-offset-4" align="center">
                        <a href="#" class="btn btn-default" role="button"> 查 看 &raquo;</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="300x200"
                     src="/static/www/pic/test.png"
                     style="width: 300px; height: 200px;">

                <div class="row">
                    <div class="col-md-4 col-md-offset-4" align="center">
                        <h5>帮助主题3</h5>
                    </div>
                    <div class="col-md-4 col-md-offset-4" align="center">
                        <a href="#" class="btn btn-default" role="button"> 查 看 &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="300x200"
                     src="/static/www/pic/test.png"
                     style="width: 300px; height: 200px;">

                <div class="row">
                    <div class="col-md-4 col-md-offset-4" align="center">
                        <h5>帮助主题4</h5>
                    </div>
                    <div class="col-md-4 col-md-offset-4" align="center">
                        <a href="#" class="btn btn-default" role="button"> 查 看 &raquo;</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="300x200"
                     src="/static/www/pic/test.png"
                     style="width: 300px; height: 200px;">

                <div class="row">
                    <div class="col-md-4 col-md-offset-4" align="center">
                        <h5>帮助主题5</h5>
                    </div>
                    <div class="col-md-4 col-md-offset-4" align="center">
                        <a href="#" class="btn btn-default" role="button"> 查 看 &raquo;</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="300x200"
                     src="/static/www/pic/test.png"
                     style="width: 300px; height: 200px;">

                <div class="row">
                    <div class="col-md-4 col-md-offset-4" align="center">
                        <h5>帮助主题6</h5>
                    </div>
                    <div class="col-md-4 col-md-offset-4" align="center">
                        <a href="#" class="btn btn-default" role="button"> 查 看 &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% include "www/commonjs.html" %}

</body>
</html>