<!DOCTYPE html>
<html>
<head>
    <title> QI 微调查 </title>
    {% include "www/commoncss.html" %}
</head>

<body>

{% include "www/navbar.html" with position="home" %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>QI 自助信息收集平台</h1>
        <p>在这里，我们可以自助做市场调查、投票、选举、会议回执、会务信息收集、讲师满意度测评……总之，
                只要我们需要一次性收集多人的信息，就可以利用QI平台极大地提升我们的工作效率和效果。
                </p>
        <p><a class="btn btn-primary btn-lg" role="button"> 我来试试 </a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <img width="50%" src="/static/www/pic/time.png">
            <h2>节省时间</h2>
            <p>这个世界上最宝贵的是什么？当然时间！如果有个工具它可以替我们节省时间，
                那就等于在延长我们的生命，我们没有理由不紧紧抓住它！就是它了！QI。  </p>
            <p><a class="btn btn-default" href="#" role="button"> 我来试试 &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img width="50%" src="/static/www/pic/retina.png">
            <h2>极度简单</h2>
            <p>QI是个极简单的“一对多“信息收集工具平台。在任何时候，任何情况下，一旦我们需要收集5人以上的信息，就可以想到让QI来帮助我们了！
                它可以帮助哦们省去整理众多信息的时间，并且会给你简单的分析结果哦！ </p>

            <p><a class="btn btn-default" href="#" role="button"> 我来试试 &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img width="50%" src="/static/www/pic/share.png">
            <h2>分享更多</h2>
            <p>借助QI，我们可以授权填写人在信息收集过程中查看结果，还可以把最终汇总的漂亮的分析结果方便地通过各种移动互联网渠道分享出去。</p>

            <p><a class="btn btn-default" href="#" role="button">我来试试 &raquo;</a></p>
        </div>
    </div>

    <hr>
    <!--
        <footer>
            <p>&copy; Company 2014</p>
    </footer>
-->

</div>

{% include "www/commonjs.html" %}

</body>
</html>
