<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/home/ico/favicon.png">

    <title> QI 微调查 </title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="/static/home/css/jumbotron.css" rel="stylesheet">-->


</head>

<body style="padding-top: 70px; padding-bottom: 30px;">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="#"> QI微调查</a></li>
            <li class="active"><a href="#">调查</a></li>
            <li><a href="#">问卷</a></li>
            <li><a href="#">清单</a></li>
            <li><a href="#">帮助</a></li>
        </ul>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="form">
                <div class="form-group">
                    <input type="text" placeholder="手机/Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="密码" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="well sidebar-nav">
                <ul class="nav">
                    <li>自定义题目</li>
                    <li><a href="#">单选题</a></li>
                    <li><a href="#">多选题</a></li>
                    <li><a href="#">填空题</a></li>
                    <li><a href="#">评分题</a></li>
                    <li>常用题目</li>
                    <li><a href="#">姓名</a></li>
                    <li><a href="#">性别</a></li>
                    <li><a href="#">生日</a></li>
                    <li><a href="#">居住地</a></li>
                    <li><a href="#">学历</a></li>
                    <li><a href="#">行业</a></li>
                    <li><a href="#">兴趣爱好</a></li>
                    <li><a href="#">手机号码</a></li>
                    <li><a href="#">电子邮件</a></li>
                </ul>
            </div>
        </div>
        <!--/row-->
        <div class="col-md-9">
            <div>
                <div class="well well-lg">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">问卷名称</span>
                        <input type="text" class="form-control" placeholder="请填写">
                    </div>
                </div>

                <div class="well well-lg">
                    <p>

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">问题</span>
                        <input type="text" class="form-control" placeholder="请填写">
                    </div>
                    </p>

                    <p>

                    <div class="input-group">
                        <span class="input-group-addon">
                           <input type="checkbox">
                        </span>
                        <input type="text" class="form-control">

                    </div>
                    </p>

                    <p>

                    <div class="input-group">
                        <span class="input-group-addon">
                           <input type="checkbox">
                        </span>
                        <input type="text" class="form-control">

                    </div>
                    </p>

                </div>

                <div class="well well-lg">
                    <p>

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">问题</span>
                        <input type="text" class="form-control" placeholder="请填写">
                    </div>
                    </p>


                    <p>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="radio" name='123456'>
                         </span>
                        <input type="text" class="form-control">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                转向 <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">q1</a></li>
                                <li><a href="#">q2</a></li>
                                <li><a href="#">q3</a></li>
                                <li><a href="#">q4</a></li>
                                <li><a href="#">q5</a></li>
                            </ul>
                        </div>
                    </div>
                    </p>

                    <p>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="radio" name='123456'>
                         </span>
                        <input type="text" class="form-control">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                转向 <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">q1</a></li>
                                <li><a href="#">q2</a></li>
                                <li><a href="#">q3</a></li>
                                <li><a href="#">q4</a></li>
                                <li><a href="#">q5</a></li>
                            </ul>
                        </div>
                    </div>
                    </p>

                    <p>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="radio" name='123456'>
                         </span>
                        <input type="text" class="form-control">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                转向 <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">q1</a></li>
                                <li><a href="#">q2</a></li>
                                <li><a href="#">q3</a></li>
                                <li><a href="#">q4</a></li>
                                <li><a href="#">q5</a></li>
                            </ul>
                        </div>
                    </div>
                    </p>

                </div>

                <div class="well well-lg">
                    <div class="input-group">
                        <input type="text" class="form-control">

                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                转向 <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">q1</a></li>
                                <li><a href="#">q2</a></li>
                                <li><a href="#">q3</a></li>
                                <li><a href="#">q4</a></li>
                                <li><a href="#">q5</a></li>
                            </ul>
                        </div>
                        <!-- /btn-group -->

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>