.well {
    background-color: rgba(245, 245, 245, 0.2);
}

.input-group-addon {
    background-color: rgba(255, 255, 255, 1);
}

span.glyphicon-link {
    font-size: 1.2em;
}

.width50 {
    width: 50%;
}

.width60 {
    width: 60%;
}

.width59 {
    width: 59%;
}

.width70 {
    width: 70%;
}

.spinner {
    text-align: center;
}