{# 确认对话框 #}
<div class="modal fade" id="confirmDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {# 对话框标题栏 #}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id='title' class="modal-title" id="myModalLabel">
                    <span class="glyphicon glyphicon-exclamation-sign"></span> 请确认
                </h4>
            </div>
            {# 对话框内容 #}
            <div class="modal-body" align="center">
                <h4 id='content'></h4>
            </div>
            {# 对话框底部 #}
            <div class="modal-footer">
                <div class='row' align="center">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <button id='confirmButton' type="button" class="btn btn-danger btn-block">确定
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button id='cancelButton' type="button" class="btn btn-default btn-block" data-dismiss="modal">
                            取消
                        </button>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>