
{% with paper.getSampleCount as sampleCount %}
    {% if question.type == 'Single' %}
        {% include "survey/question/singleViewResult.html" with question=question sampleCount=sampleCount only %}
    {% elif question.type == 'Multiple' %}
        {% include "survey/question/multipleViewResult.html" with question=question sampleCount=sampleCount only %}
    {% elif question.type == 'Text' %}
        {% include "survey/question/textViewResult.html" with question=question sampleCount=sampleCount only %}
    {% elif question.type == 'Score' %}
        {% include "survey/question/scoreViewResult.html" with question=question sampleCount=sampleCount only %}
    {% else %}
        <div class="well">
            未知的题目类型
        </div>
    {% endif %}
{% endwith %}
