<input type="hidden" name="questionIdList" value="{{ question.getIdSigned }}"/>
<div class="col-md-12">
    <div class="panel panel-info ">
        <div class="panel-heading">
            {{ question.getNum }} {{ question.text }} <br>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12" align="left">
                    <label for="amount"> 分数 :</label>
                    <input id="question-{{ question.getIdSigned | cut:':' }}"
                           type="text" name="{{ question.getIdSigned }}"
                           readonly style="border:0; color:#f6931f; font-weight:bold;"/>
                </div>
            </div>
            <br><br>

            <div class="row">
                <div class="col-md-2" align="left">{{ question.valueMin | floatformat:"0" }} </div>
                <div class="col-md-2 col-md-offset-8" align="right"> {{ question.valueMax | floatformat:"0" }}</div>
            </div>

            <div class="slider-input"
                 data-input-id="question-{{ question.getIdSigned | cut:':' }}"
                 data-min="{{ question.valueMin | floatformat:"0" }}"
                 data-max="{{ question.valueMax | floatformat:"0" }}"
                 data-value="5">
            </div>
        </div>
    </div>
</div>