<div class="panel panel-default" id='question-{{ question.getIdSigned | cut:':' }}'>

    {# panel标题 #}
    <div class="panel-heading collapse-this-question with-popover"
         data-placement="auto"
         data-content="双击可以将问题折叠起来">
        <span class="glyphicon glyphicon-collapse-up with-popover"
                {# 弹出框提示信息 #}
              data-placement="right"
              data-content="将这个问题折叠起来"
              style="font-size:1.3em;"></span>
        Q1
        <span class="glyphicon glyphicon-remove-sign pull-right btn-paper-delete-question with-popover"
                {# 数据绑定信息 #}
              data-binding-action="{% url 'survey:service.question.delete' %}"
              data-binding-id="{{ question.getIdSigned }}"
                {# 弹出框提示信息 #}
              data-placement="left"
              data-content="删除这个问题"
              style="font-size:1.3em;"></span>
    </div>

    {# panel 内容 #}
    <div class="panel-body question-body in">
        {# 问题信息 #}
        <div class="row">
            {# 题干信息 #}
            <div class="col-md-10">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">{{ question.getNum }}</span>
                    <input type="text" class="form-control data-binding-field-text"
                           placeholder="请填写"
                           value="{{ question.text }}"
                            {# 数据绑定信息 #}
                           data-binding-action="{% url 'survey:service.question.modify' %}"
                           data-binding-id="{{ question.getIdSigned }}"
                           data-binding-field-name="text">
                </div>
            </div>
            {# 是否乱序(switch控件) #}
            <div class="col-md-2">
                <div class="input-group input-group-sm">
                    <input class="bootstrap-switch-input-confused data-binding-field-switch with-popover"
                           type="checkbox" {% if question.confused %}checked{% endif %}
                            {# 数据绑定信息 #}
                           data-binding-action="{% url 'survey:service.question.modify' %}"
                           data-binding-id="{{ question.getIdSigned }}"
                           data-binding-field-name="confused"
                            {# 弹出框提示信息 #}
                           data-placement="top"
                           data-content="这里是提示的内容"/>
                </div>
            </div>
        </div>
        <p></p>

        {# 题支 #}
        {% for  branch in question.getBranchSetInOrder %}
            <div class="row" id="branch-{{ branch.getIdSigned | cut:':' }}">
                {# 题支的基本信息 #}
                <div class="col-md-10">
                    <div class="input-group">
                        {# 题支id #}
                        <span class="input-group-addon"><input type="radio" name="{{ question.id }}"></span>
                        {# 题支的编号 #}
                        <span class="input-group-addon">{{ branch.getNum }}</span>
                        {# 题支的文字内容 #}
                        <input type="text" class="form-control data-binding-field-text"
                               value="{{ branch.text }}"
                                {# 数据绑定信息 #}
                               data-binding-action="{% url 'survey:service.branch.modify' %}"
                               data-binding-id="{{ branch.getIdSigned }}"
                               data-binding-field-name="text">
                        {# 题支的删除按钮 #}
                        <span class="input-group-addon ">
                            <span class="glyphicon glyphicon-remove-sign pull-right btn-question-delete-branch with-popover"
                                    {# 数据绑定信息 #}
                                  data-binding-action="{% url 'survey:service.branch.delete' %}"
                                  data-binding-id="{{ branch.getIdSigned }}"
                                  data-binding-question-id="{{ question.getIdSigned }}"
                                    {# 弹出框提示信息 #}
                                  data-placement="left"
                                  data-content="删除这个选项">
                            </span>
                        </span>
                    </div>
                </div>

                {#  题支的跳转信息  #}
                <div class="col-md-2">
                    <div class="btn-group btn-block">
                        <select class="selectpicker data-binding-field-select with-popover" data-width='auto'
                                value='{{ branch.nextQuestion }}'
                                {# 数据字段的绑定信息 #}
                                data-binding-action="{% url 'survey:service.branch.modify' %}"
                                data-binding-id="{{ branch.getIdSigned }}"
                                data-binding-field-name="nextQuestion"
                                {# 弹出框提示信息 #}
                                data-placement="left"
                                data-content="这里是提示的内容">
                            {# 列出所有可达问题 #}
                            {#  <optgroup>#}
                            {% for reachableQuestion in  branch.getReachableQuestion %}
                                <option
                                        {% if reachableQuestion == branch.nextQuestion %}
                                            selected='selected'
                                        {% endif %}
                                            value='{{ reachableQuestion.getIdSigned }}'>{{ reachableQuestion.getNum }}
                                </option>
                            {% endfor %}
                            {#</optgroup> #}
                            {# 列出所有系统预定义的选项 #}
                            {#  <optgroup label=""> #}
                            {% for reachableQuestion in  branch.getSystemPredefined %}
                                <option
                                        {% if reachableQuestion == branch.nextQuestion %}
                                            selected='selected'
                                        {% endif %}
                                            value='{{ reachableQuestion.getIdSigned }}'>{{ reachableQuestion.getNum }}
                                </option>
                            {% endfor %}
                            <option
                                    {% if branch.nextQuestion == None %}
                                        selected='selected'
                                    {% endif %}
                                        value=''>下一题
                            </option>
                            {#</optgroup> #}
                        </select>

                    </div>
                    {# end <div class="btn-group btn-block"> #}
                </div>
                {# end <div class="col-md-2"> #}
            </div><p></p>
            {# <div class="row"> #}
        {% endfor %}

        {# 新增题支的按钮 #}
        <button class="btn btn-primary btn-sm btn-question-add-branch with-popover"
                {# 数据字段的绑定信息 #}
                data-binding-action="{% url 'survey:service.branch.addDefaultBranch' %}"
                data-binding-question-id="{{ question.getIdSigned }}"
                {# 弹出框提示信息 #}
                data-placement="right"
                data-content="新增一个选项">
            <span class="glyphicon glyphicon-plus"></span>
        </button>

    </div>
    {# end <div class="panel-body"> #}
</div>
