<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-collapse-up " style="font-size:1.3em;"></span>
        Q1
        <span class="glyphicon glyphicon-remove-sign pull-right " style="font-size:1.3em;"></span>
    </div>
    <div class="panel-body">

        {# 题干 #}
        <div class="row">
            <div class="col-md-10">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">{{ question.getNum }}</span>
                    {#  <span class="input-group-addon">问题</span>#}
                    <input type="text" class="form-control" placeholder="请填写" value="{{ question.getStemText }}">
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group input-group-sm">
                    {#  <span class="input-group-addon">乱序</span> #}
                    <input class="bootstrap-switch-confused" type="checkbox" {% if question.confused %}checked{% endif %}/>
                </div>
            </div>
        </div>
        <p></p>

        {# 题支 #}
        {% for  branch in question.getBranchSetInOrder %}
            <div class="row">

                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon"><input type="radio" name="{{ question.id }}"></span>
                        <span class="input-group-addon">{{ branch.getNum }}</span>
                        <input type="text" class="form-control" value="{{ branch.text }}">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="btn-group btn-block">
                        <button type="button" class="btn btn-default dropdown-toggle btn-block"
                                data-toggle="dropdown">
                            {% if branch.nextQuestion %}
                                {{ branch.nextQuestion.getNum }}
                            {% endif %}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for reachableQuestion in branch.getReachableQuestion %}
                                <li>
                                    <a>
                                        {{ reachableQuestion.getNum }}{{ reachableQuestion.getStemText | truncatechars:10 }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div><p></p>
        {% endfor %}

        <button class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
</div>
