<div class="panel panel-default" id='question-{{ question.getIdSigned | cut:':' }}'>

    {# panel标题 #}
    <div class="panel-heading collapse-this-question ">
        <div class="row">
            <div class="col-md-11 with-popover"
                 data-placement="auto"
                 data-content="双击标题栏可以将问题折叠起来">
                <span class="glyphicon glyphicon-collapse-up with-popover"
                        {# 弹出框提示信息 #}
                      data-placement="right"
                      data-content="点击这里可以将问题折叠起来"
                      style="font-size:1.3em;">
                 </span>
                {#  数据更新提示图标 #}
                <span class="glyphicon glyphicon-save data-binding-refresh-icon" style="opacity:0"></span>
                {#  问题标号显示 #}
                <span class="question-title-panel-num">{{ question.getNum }}</span>
                {#  问题内容显示 #}
                <span class="question-title-panel-text">{{ question.text }}</span>
            </div>
            <div class="col-md-1">
                <span class="glyphicon glyphicon-remove-sign pull-right btn-paper-delete-question with-popover"
                        {# 数据绑定信息 #}
                      data-binding-action="{% url 'survey:service.question.delete' %}"
                      data-binding-id="{{ question.getIdSigned }}"
                        {# 弹出框提示信息 #}
                      data-placement="left"
                      data-content="删除这个问题"
                      style="font-size:1.3em;color:#421410">
                 </span>

            </div>
        </div>
    </div>

    {# panel 内容 #}
    <div class="panel-body question-body in">
        {# 问题信息 #}
        <div class="row">
            {# 题干信息 #}
            <div class="col-md-10">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">{{ question.getNum }}</span>
                    <input type="text" class="form-control data-binding-field question-text-editor"
                           placeholder="请填写"
                           value="{{ question.text }}"
                            {# 数据绑定信息 #}
                           data-binding-action="{% url 'survey:service.question.modify' %}"
                           data-binding-id="{{ question.getIdSigned }}"
                           data-binding-field-name="text">
                </div>
            </div>
            {# 是否乱序(switch控件) #}
            <div class="col-md-2">
                <div class="input-group input-group-sm">
                    <input class="bootstrap-switch data-binding-field with-popover"
                           type="checkbox" {% if question.confused %}checked{% endif %}
                            {# 数据绑定信息 #}
                           data-binding-action="{% url 'survey:service.question.modify' %}"
                           data-binding-id="{{ question.getIdSigned }}"
                           data-binding-field-name="confused"
                            {# 开关控件的显示值 #}
                           data-on-text="乱序"
                           data-off-text="顺序"
                            {# 弹出框提示信息 #}
                           data-placement="top"
                           data-content="该开关指定选项出现的顺序，当选择“正常”时用户答题时看到的和你设计时一样，当选择“乱序”时用户看见的选项出现的顺序是随机的"/>

                </div>
            </div>
        </div>
        <p></p>

        {# 题支 #}
        {% for  branch in question.getBranchSetInOrder %}
            <div class="row" id="branch-{{ branch.getIdSigned | cut:':' }}">
                {# 题支的基本信息 #}
                <div class="col-md-10">
                    <div class="input-group">
                        {# 题支id #}
                        <span class="input-group-addon"><input type="radio" name="{{ question.id }}"></span>
                        {# 题支的编号 #}
                        <span class="input-group-addon">{{ branch.getNum }}</span>
                        {# 题支的文字内容 #}
                        <input type="text" class="form-control data-binding-field"
                               value="{{ branch.text }}"
                                {# 数据绑定信息 #}
                               data-binding-action="{% url 'survey:service.branch.modify' %}"
                               data-binding-id="{{ branch.getIdSigned }}"
                               data-binding-field-name="text">
                        {# 题支的删除按钮 #}
                        <span class="input-group-addon ">
                            <span class="glyphicon glyphicon-remove-sign pull-right btn-question-delete-branch with-popover"
                                  style="color:#421410"
                                    {# 数据绑定信息 #}
                                  data-binding-action="{% url 'survey:service.branch.delete' %}"
                                  data-binding-id="{{ branch.getIdSigned }}"
                                  data-binding-question-id="{{ question.getIdSigned }}"
                                    {# 弹出框提示信息 #}
                                  data-placement="left"
                                  data-content="删除这个选项">
                            </span>
                        </span>
                    </div>
                </div>

                {#  题支的跳转信息  #}
                <div class="col-md-2">
                    <div class="btn-group btn-block">
                        <select class="bootstrap-select data-binding-field with-popover bootstrap-select-binding-dropdown"
                                data-width='75%'
                                value='{{ branch.nextQuestion }}'
                                {# 数据字段的绑定信息 #}
                                data-binding-action="{% url 'survey:service.branch.modify' %}"
                                data-binding-id="{{ branch.getIdSigned }}"
                                data-binding-field-name="nextQuestion"
                                {# 下拉框可选数据绑定 #}
                                data-binding-dropdown-action="{% url 'survey:service.branch.getReachableQuestionListForSelect' %}"
                                data-binding-dropdown-parameters='branchId={{ branch.getIdSigned }}'
                                data-binding-dropdown-decoder="branchReachableQuestion"
                                {# 弹出框提示信息 #}
                                data-placement="left"
                                data-content="通过这个下拉框，你可以设置问题跳转。也就是用户选择这个选项后，对应转向的问题。"
                                >
                            {# 只需要显示当前选择的选项即可，其他选项当下拉框点击时加载 #}
                            {% if branch.nextQuestion %}
                                <option
                                        {# 根据问题类型设置问题的图标 #}
                                        {#  目前bootstrap-select 使用data-icon一直会出现问题，暂时去掉 #}
                                        {% if branch.nextQuestion.type == 'EndValid' %}
                                            data-icon="glyphicon-ok"
                                        {% elif branch.nextQuestion.type == 'EndInvalid' %}
                                            data-icon="glyphicon-ban-circle"
                                        {% else %}
                                            data-icon="glyphicon-arrow-right"
                                        {% endif %}
                                            value={{ branch.nextQuestion.getIdSigned }} selected='selected'>
                                    {{ branch.nextQuestion.getNum }}
                                </option>
                            {% else %}
                                <option data-icon='glyphicon-arrow-down' selected='selected' value="">
                                    下一题
                                </option>
                            {% endif %}
                        </select>

                    </div>
                    {# end <div class="btn-group btn-block"> #}
                </div>
                {# end <div class="col-md-2"> #}
            </div><p></p>
            {# <div class="row"> #}
        {% endfor %}

        {# 新增题支的按钮 #}
        <button class="btn btn-primary btn-sm btn-question-add-branch with-popover"
                {# 数据字段的绑定信息 #}
                data-binding-action="{% url 'survey:service.branch.addDefaultBranch' %}"
                data-binding-question-id="{{ question.getIdSigned }}"
                {# 弹出框提示信息 #}
                data-placement="right"
                data-content="点击这个蓝色按钮可以新增一个选项">
            <span class="glyphicon glyphicon-plus"></span>
        </button>

    </div>
    {# end <div class="panel-body"> #}
</div>
