<div class="well well-lg">


    <div class="input-group input-group-sm">
        <span class="input-group-addon">{{ question.getNum }}</span>
        <span class="input-group-addon">问题</span>
        <input type="text" class="form-control" placeholder="请填写" value="{{ question.getStemText }}">
    </div>

    <p></p>

    {% for  branch in question.getBranchSetInOrder %}
        <div class="row">

            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon"><input type="radio" name="{{ question.id }}"></span>
                    <span class="input-group-addon">{{ branch.getNum }}</span>
                    <input type="text" class="form-control" value="{{ branch.text }}">
                </div>
            </div>

            <div class="col-md-4">
                <div class="btn-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            转向 <span class="caret"></span></button>
                        <button type="button" class="btn btn-default">
                            {% if branch.nextQuestion %}
                                {{ branch.nextQuestion.getNum }}
                            {% endif %}
                        </button>
                        <ul class="dropdown-menu">
                            {% for reachableQuestion in branch.getReachableQuestion %}
                                <li>
                                    <a>
                                        {{ reachableQuestion.getNum }}{{ reachableQuestion.getStemText | truncatechars:10 }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div><p></p>
    {% endfor %}


</div>