<div class="survey-question panel panel-default" id='question-{{ question.getIdSigned | cut:':' }}'
     data-id= {{ question.getIdSigned }}>

    {# panel标题 #}
    <div class="panel-heading panel-collapsible ">
        <div class="row">
            <div class="col-md-11 with-popover"
                 data-placement="auto"
                 data-content="双击标题栏可以将问题折叠起来">
                <span class="glyphicon glyphicon-collapse-up with-popover"
                        {# 弹出框提示信息 #}
                      data-placement="right"
                      data-content="点击这里可以将问题折叠起来"
                      style="font-size:1.3em;">
                 </span>
                {#  数据更新提示图标 #}
                <span class="glyphicon glyphicon-save data-binding-refresh-icon" style="opacity:0"></span>
                {#  问题标号显示 #}
                <span class="question-title-panel-num">{{ question.getNum }}</span>
                {#  问题内容显示 #}
                <span class="question-title-panel-text">{{ question.text }}</span>
            </div>
            <div class="col-md-1">
                <span class="glyphicon glyphicon-remove-sign pull-right btn-delete-question with-popover"
                        {# 数据绑定信息 #}
                      data-binding-action="{% url 'survey:service.question.delete' %}"
                      data-binding-id="{{ question.getIdSigned }}"
                        {# 弹出框提示信息 #}
                      data-placement="left"
                      data-content="删除这个问题"
                      style="font-size:1.3em;color:#421410">
                 </span>

            </div>
        </div>
    </div>

    {# panel 内容 #}
    <div class="panel-body question-body in">
        {# 问题信息 #}
        <div class="row">
            {# 题干信息 #}
            <div class="col-md-10">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">{{ question.getNum }}</span>
                    <input type="text" class="form-control data-binding-field question-text-editor"
                           placeholder="请填写"
                           value="{{ question.text }}"
                            {# 数据绑定信息 #}
                           data-binding-action="{% url 'survey:service.question.modify' %}"
                           data-binding-id="{{ question.getIdSigned }}"
                           data-binding-field-name="text">
                </div>
            </div>
        </div>
        <p></p>

        <div class="row">
            <div class="col-md-10">
                <textarea class="form-control" rows="5" placeholder="... ..." required></textarea>
            </div>
        </div>
    </div>
    {# end <div class="panel-body"> #}
</div>
