<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% include "www/commoncss.html" %}
    {#  <link rel="stylesheet" href="/static/survey/css/paperEdit.css"> #}
</head>
<body>

<input size="16" type="text" value="2012-06-15 14:45" readonly class="form_datetime">

<input type="text" id="datepicker">


{% include "www/commonjs.html" %}
<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
</script>

<script>
    $(function () {
        $("#datepicker").datepicker($.datepicker.regional[ "zh-CN" ]);
        $("#locale").change(function () {
            $("#datepicker").datepicker("option",
                    $.datepicker.regional[ $(this).val() ]);
        });
    });
</script>
</body>
</html>