<!DOCTYPE html>
<html>
<head>
     {% include "www/commoncss.html" %}
</head>
<body>
<input class="bootstrap-switch" type="checkbox" checked/>
{% comment %}
<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/bootstrap/js/bootstrap-switch.min.js"></script>
{% endcomment %}
{% include "www/commonjs.html" %}
<script>
    $(document).ready(function () {
        $(".bootstrap-switch").bootstrapSwitch.defaults.onColor = 'primary';
        $(".bootstrap-switch").bootstrapSwitch.defaults.offColor = 'danger';
        $(".bootstrap-switch").bootstrapSwitch.defaults.onText = '开';
        $(".bootstrap-switch").bootstrapSwitch.defaults.offText = '关';
        $(".bootstrap-switch").bootstrapSwitch();
    });
</script>
</body>
</html>